*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
--almost-white: hsl(0, 0%, 98%);
--medium-gray: hsl(0, 0%, 41%);
--almost-black: hsl(0, 0%, 8%);
--font1:Arial;
}

body{
    font-family: var(--font1);
    text-align: center;
    height: 100vh;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px 20px;
}

.nav__login{
    display: none;
}

.nav__links{
    display: none;
}

.header__img{
    display: block;
    width: 100%;
    height: 300px;
    background-image: url('../images/image-hero-mobile.png');
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: 100%;
    /* background-position: center; */
    
}

.main__title{
padding: 40px 0 20px;
letter-spacing: 3px;
}

.main__paragraph{
    color: var(--medium-gray);
    font-size: 18px;
    line-height: 1.5;
    /* font-weight: bold; */
    padding:  0 15px;
}

.main__cta{
    display: inline-block;
    text-decoration: none;
    color: var(--almost-white);
    background-color: var(--almost-black);
    padding: 20px 30px;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 20px;

}

.footer__nav{
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
}

.footer__img{
    width: 80px;
}

.footer__img--audip{
    width: 60px;
}

@media (min-width:400px){
    .header__img{
        display: block;
        margin: 0 auto;
        width: 400px;
        height: 300px;
    }
}

@media (min-width:1000px){
body{
    text-align: left;
}

    .container{
        height: 100%;
        max-width: 1440px;
        padding: 50px 100px 50px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 100px repeat(2,1fr) 100px;
        grid-template-areas:
         "nav nav"
         "main header"
         "main  header"
         "footer header"
        ;
    }

    .header__img{
        background-size: contain;
    }

    .nav{
        grid-area: nav;
    }

    .nav__login{
        display: block;
    }

    .nav__links{
        display: block;
        margin: .1px;
    }

    .nav__link{
        /* display: inline-block; */
        text-decoration: none;
        color: var(--medium-gray);
        padding: 0 15px;
        font-weight: bold;
    }

    .nav__link--cta{
        display: inline-block;
        padding: 15px 30px;
        border-radius:20px;
        border:2px solid #000;
    }

    .main__cta{
    width: 150px;        
    }

    .nav__hamburguer{
        display: none;
    }

    /* .nav__link--submenu::after{
        content: "";
        display: inline-block;
        width: 3px;
        height: 3px;
        margin-left:10px;
        background-color:transparent;
        border-top: 2px solid transparent;
        border-bottom:2px solid var(--medium-gray);
        border-left: 2px solid transparent;
        border-right:2px solid var(--medium-gray);
        transform:  rotate(45deg);
    } */

    .main{
        grid-area: main;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* .main__cta{
    position: absolute;
    left: 0;
    bottom: 0;
    } */

    .main__title{
    padding: 0px;
    font-size: 3rem;
    display: flex;
    text-align: left;

    }

    .header{
        grid-area: header;
    }
    .footer{
        grid-area: footer;
        align-self: flex-end;
    }

    .header__img{
        height: 100%;
        background-image: url('../images/image-hero-desktop.png');
        background-position: center;
    }

    .footer__nav{
        height: 100%;
        padding: 0;
        align-items: flex-end;
    }
}