@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root{
    /* Primary */

--moderate-violet: hsl(263, 55%, 52%);
--moderate-violet-50: hsla(263, 38%, 85%, 0.5);
--moderate-violet-70: hsla(263, 38%, 85%, 0.7);
--very-dark-grayish-blue: hsl(217, 19%, 35%);
--very-dark-blackish-blue: hsl(219, 29%, 14%);
--white: hsl(0, 0%, 100%);

    /* Neutral */

--light-gray: hsl(0, 0%, 81%);
--light-grayish-blue: hsl(210, 46%, 95%);

/*
Note for text colors:
 1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity */

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: var(--white);
    font-size: 13px;
    background-color: var(--light-grayish-blue);
}

.testimonial{
    display: grid;
    grid-template-rows: 450px 250px 250px 400px 450px;   
    gap: 30px; 
    width: 90%;
    margin: 80px auto;
}

.card{
    padding: 20px 40px;
    border-radius: 10px;
    background-color: var(--very-dark-grayish-blue);

}

.card--1{
    background-color: var(--moderate-violet); 
    background-image: url('../images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-size: 110px;
    background-position-y: top;
    background-position-x: 90%;
}

.card__header{
    display:flex;
    align-items: center;
    gap:20px;
}

.card__img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--moderate-violet-50);
}



.card__status{
    color: var(--moderate-violet-50);

}

.card__texts{
    margin-top: 20px;
}

.card__paragraph{
    color: var(--moderate-violet-70);
   padding: 20px 10px 0 0;
}

.card__paragraph--pricipal{
    color: var(--white);
    font-size: 20px;
    padding: 0;
    font-weight: 600;
}

.card--2{
    background-color: var(--very-dark-grayish-blue);
}

.card__white{
    background-color: var(--white);
    color: var(--very-dark-grayish-blue);
}

.card__white .card__status{
    color: var(--light-gray);
}


.card__white .card__paragraph{
    color: var(--light-gray);
}

/* la cascada XD */
.card__white .card__paragraph--pricipal{
    color: var(--very-dark-grayish-blue);
    font-weight: 600;
}

.card--4{
    background-color: var(--very-dark-blackish-blue);
}

@media (min-width:850px){
    .testimonial{
        width: 80%;
        height: 500px;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);   
        /* gap: 30px;  */
      grid-template-areas: 
      "card1 card1 card2 card3"
      "card4 card5 card5 card3"
      ;

      margin-top:30px;
      /* overflow: hidden; */
    }

    .card--1{
        grid-area: card1;
    }

    .card--2{
        grid-area: card2;
    }

    .card--3{
        grid-area: card4;
       
    }

    .card--4{
        grid-area: card5;
    }

    .card--5{
        
        grid-area: card3;
    }


}